<article style="background-color: #017BB3;">
    <div class="container">
        <h3 class="text-light fw-bold">TÀI KHOẢN</h3>
        <p class="text-light"><a href="#"
                class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Trang
                chủ</a>/ Đăng ký</p>
    </div>
</article>
<div class="container ">
    <div class="row">
        <div class="card col-sm-6">
            <div class="card-body">
                <div class="container mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-danger fw-bold">ĐĂNG KÝ</h4>
                            <form name="regForm">
                                <div class="mb-3">
                                    <label for="fullName" class="form-label fw-semibold">Họ và tên:</label>
                                    <input type="text" class="form-control" ng-model="fullname" name="txtfullname" placeholder="Họ tên" required>
                                    <span ng-show="regForm.txtfullname.$invalid" class="text-danger">Vui lòng nhập đầy đủ họ tên</span>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label fw-semibold">Email:</label>
                                    <input type="email" class="form-control" ng-model="email" name="txtemail" aria-describedby="emailHelp" placeholder="Email" required>
                                    <span ng-show="regForm.txtemail.$invalid" class="text-danger">Vui lòng nhập đúng định dạng email</span>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label fw-semibold">Mật khẩu:</label>
                                    <input type="password" class="form-control" ng-model="password" name="txtpassword" placeholder="Mật khẩu" required>
                                    <span ng-show="regForm.txtpassword.$invalid" class="text-danger">Vui lòng nhập mật khẩu</span>
                                </div>
                                <div class="mb-3">
                                    <label for="confirmPassword" class="form-label fw-semibold">Nhập lại mật khẩu:</label>
                                    <input type="password" class="form-control" ng-model="confirmPassword" name="txtconfirmpassword" placeholder="Nhập lại mật khẩu" required>
                                    <span ng-show="regForm.txtconfirmpassword.$invalid" class="text-danger">Vui lòng nhập mật khẩu</span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-semibold">Giới tính:</label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="male" ng-model="gender" value="male">
                                        <label class="form-check-label" for="male">Nam</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="female" ng-model="gender" value="female">
                                        <label class="form-check-label" for="female">Nữ</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="other" ng-model="gender" value="other">
                                        <label class="form-check-label" for="other">Khác</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label fw-semibold">Số điện thoại:</label>
                                    <input type="number" class="form-control" ng-model="phone" name="txtphonenum" placeholder="Số điện thoại">
                                    <span ng-show="regForm.txtconfirmpassword.$invalid" class="text-danger">Vui lòng nhập số điện thoại</span>
                                </div>
                                <button type="submit" class="btn btn-warning text-light fw-semibold" data-bs-toggle="modal" data-bs-target="#exampleModal">ĐĂNG KÝ</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn đã đăng ký thành công</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <a href="#!dangnhap"><button type="button" class="btn btn-primary" data-bs-dismiss="modal">Quay lại trang đăng nhập</button></a>
            </div>
        </div>
    </div>
</div>

