<article style="background-color: #017BB3;">
    <div class="container">
        <h3 class="text-light fw-bold">TÀI KHOẢN</h3>
        <p class="text-light"><a href="#" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Trang chủ</a>/ Tài khoản</p>
    </div>
</article>
<div class="container">
    <div class="row">
        <div class="card col-sm-6">
            <div class="card-body">
                <div class="container mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-danger fw-bold">ĐĂNG NHẬP</h4>
                            <form name="loginform">
                                <div class="mb-3">
                                    <label for="email" class="form-label fw-semibold">Email:</label>
                                    <input type="email" class="form-control" ng-model="email" name="txtemail" aria-describedby="emailHelp" placeholder="Email" required>
                                    <span ng-show="loginform.txtemail.$invalid" class="text-danger">Vui lòng nhập đúng định dạng Email</span>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label fw-semibold">Mật khẩu:</label>
                                    <input type="password" class="form-control" ng-model="password" name="txtpassword" placeholder="Mật khẩu" required>
                                    <span ng-show="loginform.txtpassword.$invalid" class="text-danger">Vui lòng nhập mật khẩu</span>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" ng-model="ghinho" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Ghi nhớ</label>
                                </div>
                                <a href="#!dangky" class="link-danger link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover ">Nếu không có tài khoản,đăng ký ở đây</a><br><br>
                                <button type="submit" class="btn btn-warning text-light fw-semibold">ĐĂNG NHẬP</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<aside>
    <div class="container mt-1 mb-0">
        <div class="row contact-buttons d-flex justify-content-center align-items-center">
            <div class="col-sm-4 d-flex justify-content-center mt-3 mb-3">
                <button class="btn btn-warning fw-semibold text-light"><i class="fa-solid fa-phone"></i>
                    0826.15.15.15</button>
            </div>
            <div class="col-sm-4 d-flex justify-content-center mt-3 mb-3">
                <button class="btn btn-info fw-semibold text-light"><i class="fa-solid fa-message"></i> Chat Với
                    Chúng Tôi</button>
            </div>
            <div class="col-sm-4 d-flex justify-content-center mt-3 mb-3">
                <button class="btn btn-primary fw-semibold text-light"><i class="fas fa-comments"></i> Tư vấn
                    ngay</button>
            </div>
        </div>
    </div>
</aside>