<div class="container">
    <div class="row">
        <form action="">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">TOUR</th>
                    <th scope="col">GIÁ</th>
                    <th scope="col">SỐ LƯỢNG</th>
                    <th scope="col">TẠM TÍNH</th>
                    <th scope="col">XÓA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in cart">
                    <td><img src="{{item.image}}" width="80px" height="80px" alt=""> {{item.name}}</td>
                    <td>{{item.price_after| number:0}}đ</td>
                    <td>
                        <button class="btn btn-primary" ng-click="minus(item)">-</button>
                            {{item.quantity}}
                            <button class="btn btn-primary" ng-click="plus(item)">+</button>
                    </td>
                    <td>{{item.price_after * item.quantity| number:0}}đ</td>
                    <td>
                        <button class="btn btn-danger" ng-click="remove(item)">Xóa</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            <button class="btn btn-primary mb-3"><b>CẬP NHẬT GIỎ HÀNG</b></button>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="card mb-4">
                <div class="card-body">
                    <form class="mb-1">
                        <legend class="fw-bold text-primary">LIÊN HỆ VỚI CHÚNG TÔI</legend>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <label for=""><b>Tên:</b></label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Họ và tên">
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label for=""><b>Địa chỉ:</b></label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Địa chỉ">
                            </div>
                            <div class="mb-3">
                                <label for=""><b>Số điện thoại:</b></label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Số điện thoại">
                            </div>
                            <div class="mb-3">
                                <label for=""><b>Địa chỉ email:</b></label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Địa chỉ email">
                            </div>
                            <div class="">
                                <label for=""><b>Ghi chú thêm:</b></label>
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            </div>
                        </div>
        
                        <button type="submit" class="btn btn-warning text-light fw-bold my-3">GỬI THÔNG TIN LIÊN HỆ</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <div class="form">
                        <legend class="fw-bold">THÔNG TIN TOUR ĐÃ ĐẶT</legend>
                        <form action="">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">TOUR</th>
                                    <th scope="col">TẠM TÍNH</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{products.name}}</td>
                                    <td>@mdo</td>
                                  </tr>
                                </tbody>
                              </table>
                              <p><b>Đặt giữ chỗ trước, thanh toán sau</b></p>
                            <button class="btn btn-primary mb-3"><b>ĐẶT TOUR NGAY</b></button>
                            <p>Thông tin cá nhân của bạn sẽ được sử dụng để xử lý đơn hàng, tăng trải nghiệm sử dụng website, và cho các mục đích cụ thể khác
                                 đã được mô tả trong chính sách riêng tư của chúng tôi.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- trang giỏ hàng 
 <h1>Đây là trang giỏ hàng</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in cart">
                        <td>{{$index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price_after}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="minus(item)">-</button>
                            {{item.quantity}}
                            <button class="btn btn-primary" ng-click="plus(item)">+</button>
                        </td>
                        <td>{{item.price_after * item.quantity}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="remove(item)">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>Tổng tiền : {{total()}}</h2>
        </div>
    </div>
</div> -->